body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:
  100px 100px/calc(2*100px) calc(2*100px) conic-gradient(at calc(500%/6) 50%,#ffffff 25%,#0000 0),0 0/calc(2*100px) calc(2*100px) conic-gradient(at calc(500%/6) 50%,#ffffff 25%,#0000 0),
  100px 100px/calc(2*100px) calc(2*100px) conic-gradient(at calc(200%/3) 50%,rgba(16, 156, 132, 0.62) 25%,#0000 0),0 0/calc(2*100px) calc(2*100px) conic-gradient(at calc(200%/3) 50%,rgba(16, 156, 132, 0.62) 25%,#0000 0),
  repeating-conic-gradient(rgba(62, 72, 163, 0.6) 0 25%,#0000 0 50%) 0 0/calc(2*100px) calc(2*100px),
  linear-gradient(rgba(62, 72, 163, 0.6) calc(100%/3),rgba(16, 156, 132, 0.62) 0 calc(200%/3),#ffffff 0)
   0 0/100px 100px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: left;
  max-width: 1000px;
  margin: 40px auto;
  padding: 40px;
  border: 5px solid #109c84; /* Outer border */
  box-shadow: inset 0 0 0 5px #3e4a82; /* Inner border (second color) */
  border-radius: 8px;
  margin-top: 80px;
  background-color: white;
}

.header h1 {
  font-size: 40px;
  margin: 0 0 20px 0;
  text-align: left; 
  color: black !important;
}

.main-content {
  display: flex;
  gap: 20px;
}

.svg-container {
  flex: 3;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  border-radius: 8px;
}

.svg-container svg {
  width: 100%;
  height: auto;
}

svg path:hover {
  fill: #109c84 !important;
  transition: none;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
}

.scrollable-panel {
  flex: 1.5; 
  max-height: 480px; 
  overflow-y: scroll; 
  border-radius: 8px;
  padding: 10px;
  background-color: white; 
}

.ward-button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #109c84;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ward-button:hover {
  background-color: #0a6556; 
}

/* Highlighted SVG path when hovered over a button */
.hovered-region {
  fill: #109c84 !important; /* Highlight color */
  transition: fill 0.2s ease, stroke 0.2s ease;
}

