.home-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: left;
    background-color: #f9f9f9;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .svg-container {
    width: 100%; /* Take the full width of the container */
    max-width: 1200px; /* Optional: Limit the maximum size */
    margin: 0; /* Align to the left */
    padding: 0; /* Remove padding */
  }
  
  .svg-container svg {
    width: 800px; /* Scale the SVG to fit the container */
    height: auto; /* Maintain aspect ratio */
  }
  
  svg path:hover {
    fill: #007bff !important;
    transition: none;
    cursor: pointer;
  }
